.head{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
padding-top: 20px;

}
.bg{
    background: white; 
    height: 700px;
    width: 100%;
}
.h{ 
    color: green;
    font-size: 1.9rem;
    font-weight: bold;
}
.p{    
     font-size: 1.6rem;
     color: black;
     font-size: 1.8rem;
}
.im{
padding-top: 20px;
}
.BrainhubCarousel__arrows ,.BrainhubCarousel__arrowLeft{
    background-color: green !important;

}
.bi{
background-image:url(https://www.minecraft.net/content/dam/minecraft/backgrounds/bg-wool-dark.png);
} 